table {
	text-align: center;
	font-size: 1.15em;
}

table, th, td {
	border: 5px solid black;
	border-collapse: collapse;
}

 col#time {
	background-color: rgb(155, 0, 255);
	color: rgb(255,255,255);
	font-size: 1.25em;
}

 col#weekDay {
	background-color: rgb(200, 100, 255);
	font-size: 22em;
}	

col#weekEnd {
	background-color: rgb(225, 0, 255);
}		

th, td {
	border: 2px dashed blue;
	height: 15px;
	padding: 5px;
}

tfoot {
	background-color: 
}